$font_family_1:"Microsoft JhengHei",
"SF Pro TC",
"SF Pro Text",
"PingFang TC",
Arial,
sans-serif;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  touch-action: auto;
}

body {
  font-family: $font_family_1;
  font-style: normal;
  font-size: 100%;
  line-height: 1.4;

  text-rendering: optimizeLegibility;
  // &.menuOpen {
  //     width: 100%;
  //     height: 100%;
  //     overflow: hidden;
  //     touch-action: none;
  // }


}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-family: $font_family_1;
  margin: 0 auto;
  padding: 0;
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #004E98;
}


figure {
  margin: 0;
  padding: 0;
}
input {
  border-radius: 0;
  -webkit-appearance: none;
}

ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}


a {
  transition: all 0.3s ease-in;
  text-decoration: none;
  &:link { color: #000000;}
  &:active { color: #000000; }
  &:visited { color: #000000; }
  &:hover { color: #000000;}
}

img {
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

/* clearBoth */
@mixin clearBoth {
  clear: both;
  zoom:1; 
  &:after {
      visibility:hidden;  display:block;  font-size:0;  content:" ";  clear:both;  height:0; 
  }
}

/* breakpoints */
$bp-xsmall: 20rem;
$bp-small: 37.5rem;
$bp-medium: 40rem;
$bp-large: 50rem;
$bp-xlarge: 64rem;
$bp-max: 110.5rem;



/**/
.container {
  position: relative;
  @include clearBoth;
}
.wrapper {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  @include clearBoth;

  @media screen and (max-width: $bp-xlarge){
      max-width: 90%;

  }
  @media screen and (max-width: $bp-large){
      max-width: calc(100% - 32px);

  }
}


.bold { font-weight: bold;}
.alignC { text-align: center;}
.alignL { text-align: left;}
.alignR { text-align: right;}


/*  */
.summary {
  width: 880px;
  margin:40px auto;
  p { 
    font-size: 18px;
    letter-spacing: 0.01em;
line-height: 27px;
  }
  @media screen and (max-width: $bp-xlarge){
      width: calc(100% - 32px);
  }
}
.bgColor {
  background-color: #EEF0F3;
}
.iframeMap {
 
  iframe {
    width: 100%;
    height:calc(80vh - 138px);
  }
  @media screen and (max-width: $bp-medium){
    iframe {
      height: 500px;
    }
  }
}
.iframePadding {
  padding: 20px 0 0;
}


/* mapinfo */
.mapinfo {
  display: none;
  &.open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(255,255,255,0.9);
  }
}
.infoBtn {
  position: absolute;
  right: 8px;
  top: 30px;
  border: 1px solid #004E98;
  padding: 5px 10px;
  &:link { color: #004E98;}
  &:active { color: #004E98; }
  &:visited { color: #004E98; }
  &:hover { color: #004E98;}

  @media screen and (max-width: 414px){
    font-size: 14px;
    padding: 5px 7px;
    top: 84px;
  }
}
.maptitle {
  color: #004E98;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.mapContent {
  width: 560px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  @media screen and (max-width: $bp-large){
    width: 100%;
  }
  @media screen and (max-width: $bp-medium){
    overflow: auto;
  }
}

.itemGrouep {
  @include clearBoth;
}
.itembox {
  float: left;
  width: 49%;
  margin: 2% 2% 2% 0;
  &:nth-child(2n) {margin-right: 0;}
  &:nth-child(2n+1) {margin-right: 2%;}

  p { padding: 0 28px;}

  @media screen and (max-width: $bp-medium){
    float: none;
    width: 100%;
    margin: 1% auto 1% auto;
    &:nth-child(2n) {margin-right: 0;}
    &:nth-child(2n+1) {margin-right: 0;}
    img { width: 150px;}
    p {
      padding: 0;
      text-align: center;
    }
  }
}

.closeBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px;
  z-index: 2;
  &:link { color: #004E98;}
  &:active { color: #004E98; }
  &:visited { color: #004E98; }
  &:hover { color: #004E98;}
}

.article {
  background-color: #ffffff;
  padding: 40px 20px 20px 20px;
  margin-top: -5px;
  p { 
    font-size: 18px;
color: #232323;
    margin-bottom: 24px;
    letter-spacing: 0.01em;
line-height: 27px;
  }
}
.outerlink {
  font-weight: bold;
  border-bottom: 1px solid #004E98 ;
  &:link { color: #004E98;}
  &:active { color: #004E98; }
  &:visited { color: #004E98; }
  &:hover { color: #004E98;}
}
.Producer {
  padding: 0 0 30px 0;
  background-color: #ffffff;
  text-align: center;
  p { font-size: 14px; margin-bottom: 8px;}
}
/**/


.pagination-demo {
  margin: 0 auto;
  text-align: center;
}

.subBigTitle {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 0 0 24px 0;
}
.showDataNum {
  display: none;
  &.open { display: block;}
  margin: 24px 0 24px;
  color: #004E98;
  font-size: 18px;
  .shownum {
    font-weight: bold;
  }
}
.noFound {
  display: none;
  &.open { display: block;}
  position: relative;
  background-color: #eef0f3;
  margin: 24px auto;
  padding: 80px 0;
}
.searchResult {
  display: none;
  &.open { display: block;}
}
.centerText {
  text-align: center;
  margin:0 auto;
}

.nodata {
  font-size: 20px;
  font-weight: bold;
  color: #315280;
  letter-spacing: 0.01em;
  line-height: 30px;
  margin-bottom: 16px;
}

.sTag {
  display: inline-block;
  vertical-align: middle;
  &:link { color: #004E98;}
  &:active { color: #004E98; }
  &:visited { color: #004E98; }
  &:hover { color: #004E98;}
}

.EnterpriseList {
  padding: 24px 0;
}

.TopBlue {
  @include clearBoth;
  background-color: #315280;
  color: #ffffff;
  padding: 24px;
  position: relative;
  @media screen and (max-width: $bp-medium){
    padding: 16px;
  }
}

.reKeyWords {
  letter-spacing: 0.01em;
line-height: 24px;
  a {
    &:link { color: #ffffff;}
    &:active { color: #ffffff; }
    &:visited { color: #ffffff; }
    &:hover { color: #ffffff;}
  }
}

.paddingB24 { padding-bottom: 24px;}

.inputBlock {
  position: relative;
  margin: 0 auto 16px auto;
  @media screen and (max-width: $bp-medium){
  }
}

#mainSearch {
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 8px 8px 8px 40px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.submit {
  position: absolute;
  left: 12px;
  top: 7px;
  color: #315280;

  &:link { color: #315280;}
  &:active { color: #315280; }
  &:visited { color: #315280; }
  &:hover { color: #315280;}
}



.dataList {
  @include clearBoth;
  margin-bottom: 24px;
  li {
    @include clearBoth;
    border-bottom: 1px solid #315280;
  }
  li:nth-child(even) {
    background-color: #eef0f3;
  }
  li > div { float: left; padding: 16px; box-sizing: border-box;} 


  .industry {width: 10%;}
  .company {width: 25%;}
  .locat { width:22%}
  .item { width: 43%;}

  &.listT {
    margin-bottom: 0;
    li { 
      background-color: #677991;
      color: #ffffff;;
      a {
        &:link { color: #ffffff;}
        &:active { color: #ffffff; }
        &:visited { color: #ffffff; }
        &:hover { color: #ffffff;}
      }
    }
  }

  @media screen and (max-width: $bp-large){
    li > div { 
      float: none; 
      border-bottom: 1px solid #eef0f3; 
      position: relative; 
      &::before {
        content: attr(data-txt);
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #004E98;
      }

    } 
    li > div:last-child { border-bottom:none; }
    li:nth-child(even) > div {
      border-bottom-color:#ffffff ;
    }
    .industry {width: 100%;}
    .company {width: 100%; font-weight: bold;}
    .locat { width:100%}
    .item { width: 100%;}
  }

}

.dataList.listT {
  display: none;
  &.open { 
    display: block;
  }
}

.showmore {
  position: absolute;
    right: 0;
    transform: rotate(45deg);
    font-size: 12px;
    width: 30px;
    height: 30px;
    background-color: #677991;
    border-radius: 100%;
    padding: 7px 8px;
    color: #fff;
    &:link { color: #ffffff;}
    &:active { color: #ffffff; }
    &:visited { color: #ffffff; }
    &:hover { color: #ffffff;}
}


.selectRequire {
  padding: 0 24px 24px;
  background-color: #315280;
  display: none;
  &.open { display: block;}
  @media screen and (max-width: $bp-medium){
    padding: 0 16px 32px;
  }
}
.seleIndustry { 
  margin-right: 20px;
  @media screen and (max-width: $bp-large){
    margin-right: 18px;
  }
  @media screen and (max-width: $bp-medium){
    margin-right: 0;
  }
}
.dropdown {
  display: inline-block;
  vertical-align: middle;
  width: calc(49% - 5px);
  position: relative;
  @media screen and (max-width: $bp-medium) {
    width: 100%;
    margin-bottom: 24px;
    &:last-child { margin-bottom: 0;}
  }
}
.main-drop {
  cursor: pointer;
  background-color: #ffffff;
  border:1px solid #315280;
  border-radius: 5px;
  padding: 8px 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  color: #315280;
  font-size: 18px;
  &:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left:6px solid transparent;
	  border-right:6px solid transparent;
    border-top:10px solid #315280;
    position: absolute;
    top: 13px;
    right: 13px;

  }
}

.dropdown.open .group-drop{ display: block;}
.group-drop {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #ffffff;
  border:1px solid #315280;
  border-radius: 5px;
}

.option-drop {
  position: relative;
  cursor: pointer;
  padding: 10px 20px;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  &:hover { color: #ffffff;}

  border-bottom: 1px solid #004E98;
  &:last-child { border-bottom:none}
}
.checkSPAN {
  width: 16px;
  height: 16px;
  border: 1px solid #000000;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
}
.option-drop.checked .checkSPAN::before {
    content: 'v';
    position: absolute;
    z-index: 2;
    top: -5px;
    left: 3px;
    font-size: 16px;
    color: #000000;
}
.option-drop:hover::after {
  content: '';
  background-color: #315280;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.option-drop.option-kind .option-name {
  font-weight: bold;
}
.txt-drop {
  font-size: 18px;
  font-weight: bold;
  color: #232323;
  letter-spacing: 0.01em;
  line-height: 27px;
  padding: 10px 20px;
  border-bottom: 1px solid #004E98;
}
.option-box {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  box-sizing: border-box;
  .option-drop { padding-left: 30px;}
  .option-drop.option-kind { padding-left: 15px;}
  &:nth-child(odd) { margin-right: 2.5%;}
  @media screen and (max-width: $bp-medium){
    width: 100%;
  }
}

/*relativeRead*/
.relativeRead {
  padding: 24px 0 50px;
  @media screen and (max-width: $bp-large){
    width: 60%;
    margin: 0 auto;
  }
  @media screen and (max-width: $bp-medium){
    width: 100%;
  }
}
.centerTitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #315280;
  margin-bottom: 24px;
}
.readarticle {
  display: inline-block;
  vertical-align: middle;
  width: 47%;
  border-bottom: 1px solid #e1e1e1;
  a {
    display: block;
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 27px;
    padding: 8px 16px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:nth-child(odd) { margin-right: 2%;}
  &:nth-child(7) { border-bottom: none;}
  &:nth-child(8) { border-bottom: none;}

  @media screen and (max-width: $bp-large){
    width: 100%;
    &:nth-child(odd) { margin-right: 0;}
    &:nth-child(7) { border-bottom: 1px solid #e1e1e1;}
    a {
      white-space: inherit;
      overflow: auto;
      text-overflow: inherit;
    }
  }
}
