<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EJS webpack boilerplate | Index</title>
</head>
<body>

    <%- include('./include/_header') %>

    <div class="wrapper">

        <div class="imgWrap">
            <img src="img/face.jpg" alt="">
        </div>
    
        <div class="btnGroup">
            <% for(var i=0;i<4;i++){ %>
            <a href="javascript:"><%= i %></a>
            <%}%>
        </div>
    
        
        <div class="toNext">
            <a href="page1.html">
                <span>page1</span>
                <i class="icon-right-arrow"></i>
            </a>
            
        </div>
    </div>

    
            
</body>
</html>
