<header>
    <div class="wrapper">
        <div class="leftSide">
            <div class="logo">
                <a class="" href="javascript:"></a>
            </div>
            <div class="logot"><a href="javascript:">Webpack</a></div>
        </div>
    
        <div class="rightSide socialBtn">
            <a class="btn_FB" href="javascript:"><i class="icon-fb"></i></a>
            <a class="btn_LINE" href="javascript:"><i class="icon-line"></i></a>
        </div>
    </div>
</header>